.cart-price {
    margin: 20px;
}

.products {
    float: left;
    margin: 0 auto;
}

.product-card {
    max-width: 300px;
    min-height: 420px;
    margin: 20px;
}

.middle {
    display: block;
    margin-left: auto;
    margin-right: auto;
}