.form-title {
    text-align: center;
}

.login {
    width: 400px;
    height: 400px;
    display: inline-block;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    margin-left: -200px;
    margin-top: 20px;
}

.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
}

.form-submit-button {
    text-align: center;
    margin-top: 20px;
    min-width: 400px;
    left: 50%;
}